body {
  color: $foreground-color;
  font-family: 'DINP-R', arial, serif;
  font-size: 1.3em;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  box-shadow: 0 0 20px #c8c8c8;
  width: 100%;
  z-index: 400;
  background: #fff;
}


.ad {
  min-height: 416px;

  &__start {
    position: relative;
    top: -60px; 
  }

  &__end {
    position: relative;
    top: -160px; 
  }

  &__content {
    top: 55px;
    margin-bottom: 20px;

    &--sticky {
      position: sticky;
      position: -webkit-sticky;
      z-index: 111;
    }

    &--hidden {
      opacity: 0;
    }

    &--fixed {
      position: fixed;
      width: 500px;
      height: 200px;
      top: 155px;
      left: 50%;
      margin-top: -100px; /* Negative half of height. */
      margin-left: -250px; /* Negative half of width. */
    }
  }

  &__googleAds {
    background-color: rgb(240, 212, 212);
    border: 0pt none;
    margin: auto;
    text-align: center;
    width: 300px;
    height: 250px;
  }
}


main {
  margin-top: 60px;

  .article {
    max-width: 768px;
    margin: auto;
    background: #FFF;
    padding: 1em 2em;
    text-align: left;
    color: #333;
    max-width: 768px;
    margin: auto;

    h1 {
      line-height: 1.3;
      font-weight: 400;
      font-size: 32px;
    }

    h4 {

      a, span {
        font-size: 19px;
      }

      line-height: 1.75;
      font-size: 190%;
      font-family: Franklin,Arial,Helvetica,Roboto,Sans-Serif;
      margin: 3px 0;
    }

    p {
      margin: 15px 0;
    }
  }
}